.control-panel {
    background-color: #fff;
    height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}

.format-actions {
    width: 200px;
    margin-right: 400px;
}

.format-action {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.format-action.active {
    background-color: cornflowerblue;
}
